<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Upgrade To See All Dating Profiles</h3>
</div>
<div class="modal-body">
  <h5>As a free user, you can view up to three pages worth of profiles.  Upgrade to premium to see more.</h5>
  <%= link_to 'Upgrade to premium', upgrade_path, class: 'btn btn-primary' %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <p>&copy; HyeDating.com 2013</p>
</div>
