.row.menu-bar
  .container.top-nav-bar
    %ul
      %li
        = link_to 'Home', :admin_home
      %li
        =link_to("Store", :admin_stores)
      %li
        =link_to("Group", :admin_public_group)
      %li
        =link_to("Options", :admin_options)