#nslider-wrapper
  .sliderNivo
    #slider.nivoSlider
      %a{:href=>"./advantages"}
        =image_tag("banner/motivation-1.jpg", :height=>"300")
      %a{:href=>"./motivation"}
        =image_tag("banner/motivation-2.jpg", :height=>"300")
      %a{:href=>"./motivation"}
        =image_tag("banner/motivation-3.jpg", :height=>"300")
      %a{:href=>"./advantages"}
        =image_tag("banner/motivation-4.jpg", :height=>"300")
      %a{:href=>"./advantages"}
        =image_tag("banner/motivation-5.jpg", :height=>"300")
      %a{:href=>"./advantages"}
        =image_tag("banner/motivation-6.jpg", :height=>"300")


:javascript
  $(window).load(function() {
    $('#slider').nivoSlider({
    effect:'random', // Specify sets like: 'fold,fade,sliceDown'
      slices:15, // For slice animations
      boxCols: 8, // For box animations
      boxRows: 4, // For box animations
      animSpeed:1200, // Slide transition speed
      pauseTime:7000, // How long each slide will show
      startSlide:0, // Set starting Slide (0 index)
      directionNav:false, // Next & Prev navigation
      directionNavHide:true, // Only show on hover
      controlNav:false, // 1,2,3... navigation
      pauseOnHover:false
    });
  });        