<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Your account has been approved.</p>
    <p> - H1b wiki </p>
  </body>
</html>