<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
     <p>Your account is being reviewed by H1Bwiki team. You will hear from us soon</p>
     <p>- H1B wiki </p>
  </body>
</html>