<div id="employees">
</div>
<script type="text/javascript">
  $(function() {
    window.router = new Hircle.Routers.EmployeesRouter({employees: <%= @employess.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

