<div class="span10">
  <div class="row main-area-top-head">
    <div class="span2">
      <a class="btn btn-new-job" href="#/new"><i class="icon-new-job"></i>Add&nbsp;New&nbsp;Job</a>
    </div>
    <div class="span2 offset1">
      <div class="btn-group">
        <button class="btn">Any Job Type</button>
        <button data-toggle="dropdown" class="btn dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a>Job Type 1</a>
          </li>
          <li>
            <a>Job Type 2</a>
          </li>
          <li>
            <a>Job Type 3</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span2">
      <form style="margin-top:0px;" method="get" class="navbar-search" action="search_job" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
                <input type="text" style="width:150px;padding-left:26px;border-radius:15px;" placeholder="Keyword" name="search" id="search" class="search-query">
                <div style="position:absolute;top:7px;left:11px;cursor:pointer;" class="icon-search"></div>
      </form>
    </div>
  </div>
  <div class="row row main-area-bottom-head">
    <div class="span1">Showing</div>
    <div class="span1">Manager</div>
    <div class="span1">Internship</div>
  </div>
</div>