<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @family_member.family.user.first_name %></h1>,
    <p>
      You have an request from <%= @family_member.first_name %> to join a family.
    </p>
    <p>
      <%= link_to "Accept", @url + "&status=accepted" %> &nbsp; <%= link_to "Reject", @url + "&status=rejected" %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>