<div class="wrapper">
  <div class="cont_inner">
    <h2>List Your RV</h2>
    <h2>It's free with no obligation & we only charge 20% booking fee</h2>
    <ul class="inn4_it">
      <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span> </li>
      <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span> </li>
      <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span> </li>
      <li> <span><a href="#"><%= image_tag("rv_img.jpg") %></a></span> </li>
    </ul>
  </div>
</div>

<div id="bottom_footer" class="btf_in4">
  <div class="wrapper">
    <div class="btm_ftrinn">
      <div class="btm_ftrinn_mn">
        <h4>List Your RV</h4>
        <ul>
          <li>
            <h6>List any type of RV</h6>
            <p>You can list all types of RV's. Utilize an asset</p>
          </li>
          <li>
            <h6>Verified renters & profiles</h6>
            <p>We verify renters and you can communicate directly with them</p>
          </li>
          <li>
            <h6>You're in charge</h6>
            <p>Approve renters only if your comfortable with them. No obligation</p>
          </li>
          <li style="margin-left:20px;">
            <h6>Booking Calender</h6>
            <p>You choose available dates & control bookings</p>
          </li>
          <li>
            <h6>Secure payments transactions</h6>
            <p>Campeez handles the payment & payout securely.</p>
          </li>
          <li>
            <h6>Become Camp Host</h6>
            <p>Manage multiple units for you or others. Manage more, make more.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>