<h1>HyeDating.com Privacy Policy</h1>
<ol>
  <li> When you apply to register for Hyedating.com, you will be asked to provide Search Singles, Inc. with certain information including, without limitation, a valid email address. In addition to the terms and conditions that may be set forth in any privacy policy on HyeDating.com, you acknowledge and agree that Search Singles, Inc. will send you email notifications consisting of match notifications, message notifications, account information and newsletters. Search Singles, Inc. reserves the right to offer services and products to you based on the preferences that you identify in your registration application and at any time thereafter. Such offers may be made by Search Singles, Inc.. Search Singles, Inc. acts as a passive conduit for the online display, transmission and distribution of third party submitted content and communications and has no obligation to and takes no responsibility for screening, monitoring or reviewing any such materials.</li>
  <li>Information Collected is strictly confidential and we do not release any of your information to anyone or any company. The only information members will see of you is your username that you enter and your description. Your email address will be private and will not be disclosed to anyone.</li>
  <li>Your IP is collected and stored for security purposes.</li>
  <li>We do not sell your personal information to any other company or person.</li>
  <li>We are only obligated to reveal your personal info in any cases related to any judicial related matters, including law enforcement agencies, court orders, or legal proceedings.</li>
  <li>Credit Card billing is provided by a third party billing company. We do not store any credit card information. All information is stored by the third party billing company.</li>
  <li>Due to company policy we are unable to change username and email address once a profile is created.</li>
  <li>If you would like to opt out / unsubscribe from any future mailings you may do so by visiting hyedating.com/unsubscribe and you can go to the Opt Out page by logging in with your username and password, or by emailing us thru the Support Page with your username and email address and please put the words “OPT OUT” in the subject field of the email and we will remove you from receiving any emails from HyeDating.com.</li>
  <li>Any questions or concerns regarding the Privacy Policy please send all correspondence to:  <%= link_to "support@hyedating.com", "mailto:support@hyedating.com" %><br />
  </li>
</ol>
<p>&nbsp;</p>
