<%= render 'application/static_top' %>
<div class='main'>
  <hr />
  <h2>About Hye Dating</h2>
  <p>Hyedating.com launched in 2013 to help guide Armenian singles together.&nbsp;&nbsp;Hyedating.com is an easy way to start your search for the your perfect Armenian match.&nbsp;&nbsp;With our match and search tools we've made it easier for you to find Armenians all over the world.&nbsp;&nbsp;We've asked many people questions about online dating and we've put it all together on one easy to use website for you to ensure success in finding the perfect match. We are committed in helping you find romance or even a friendship on Hyedating.com.&nbsp;&nbsp;With our community, you will realize that it is easier to find love on our website, over any other online or private dating/matchmaking service.&nbsp;&nbsp;Hyedating.com is worldwide and growing by the day. Nothing makes us happier than to hear about the success of people finding their true love because of us.&nbsp;&nbsp;Stop procrastinating and find true love and happiness today!</p>
  <p>&nbsp;</p>
  <%= render 'application/static_bottom' %>
</div>
