<%= render 'application/static_top' %>
<div class='main'>
  <hr />
  <h2>Membership Cancellation</h2>
  <p>If you'd like to cancel your membershp to HyeDating.com, please send us an email to <a href="mailto:billing@hyedating.com">billing@hyedating.com</a> with the following information:</p>
  <ul>
    <li>HyeDating.com Username</li>
    <li>Your real First &amp; Last name</li>
    <li>The email address you used to sign up</li>
    <li>Reason for Cancellation</li>
  </ul>
  <p>You can also call our 24/7 customer service hotline at (877) 807-5910.</p>
  <p>&nbsp;</p>
</div>


