<%= render 'application/static_top' %>
<div class='main'>
  <hr />
  <h2>Dating Safety Tips - Online and Offline</h2>
  <h3>Online Dating Tips:</h3>
  <p>Always be smart in dating online, Be aware of what you are about to do and always think it over. Always use your head and common sense. Be very cautious of who you are talking to and who you eventually want to meet up with. Asking many questions is great and getting to know the person really well and create some sort of history before arranging a meeting. Always protect your identity as in your name and your address. Do not share your name or phone number until you are comfortable with the person you are talking with. If by any chance someone emails you and asks for your username and password do not share that info with them, even if they claim that they are hyedating.com, we do not do that. </p>
  <p>Block any user that you feel is a threat for you or are being stalked please report that person to us immediately. If anyone tries to ask you for money please report that person to us, or any sort of donations. If any one asks for financial help for anything please block the user and tell us immediately.  If you ever get a harassing or offensive email please report it to us. If anyone sends you links to other websites please report them. Always keep records of the conversations you have, and save all emails. Always look out for minors using the site and please report them immediately. Always watch out for users who leave for a while then come back with a new username. Look out for people who always are pushing to get close fast! </p>
  <h3>Offline Dating Tips:</h3>
  <p>Talk for a while online and build history and trust before meeting offline. Always try and meet in a public place the first time you guys get together, somewhere with lots of people. Arrange to meet up there instead of picking each other up. Always inform a family member or even a friend that you will be meeting someone that you met online, give them the details of the date. Keep your head clear on the date, Do not over drink. Always have a phone with you just in case you need to make a call. Always keep on eye on your belongings when you are out on a date, you do not want your personal information stolen. Try to stay away from each others homes on the first date, take your time and get to know them. If you are planning on drinking arrange transportation to getting there, call a cab. Make sure you guys discuss making the payment on dinner before ordering expensive stuff. Always try and treat each other with respect and kindness. <br />
  </p>
  <p>&nbsp;</p>
  <%= render 'application/static_bottom' %>
</div>
