<%= render 'application/static_top' %>
<div class='main'>
  <hr />
  <h2>DMCA / Copyright Notice </h2>
  <p> COPYRIGHT POLICY: We respect any copyrights, trademarks, and any other proprietary issues. HyeDating.com will take all necessary steps to fully comply with DMCA. Please send any copyright infringement notices to:<br />
  <br />
  Law offices of SEVAG NIGOGHOSIAN<br />
  101 N BRAND BLVD <br />
  SUITE 1970<br />
  GLENDALE CA 91203<br />
  <br />
  *Within the notice sent to our copyright agent please include our company information:<br />
  <br />
  Search Singles, Inc.<br />
  c/o HyeDating.com<br />
  <br />
  All copyright infringement notices should be directed to our agent noted above, and the notice should follow the Digital Millennium Copyright Act (DMCA) with all the necessary information to be provided to the agent, including but not limited to a signature of the person authorized to act on the interest of the copyrighted material, a description of what and where the copyrighted material is located including the name of the website HyeDating.com and name of company Search Singles, Inc., and your full information including phone number, address, and all valid contact information.<br />
  </p>
  <p>&nbsp;</p>
  <%= render 'application/static_bottom' %>
</div>
