<%= render 'application/static_top' %>
<div class='main'>
  <hr />
  <h2>Help</h2>
  <p><strong>How much does HyeDating.com cost?</strong><br />
  It's Free!<br />
  <br />
  <strong>How many pictures can I upload to my profile?</strong><br />
  As many as you want.<br />
  <br />
  <strong>How do I upload a photo to my profile?</strong><br />
  Once you've created and activated your account, login to the website and click &quot;Edit Profile&quot;.  Once the page loads you can click the &quot;Upload Photos&quot; button and follow the directions on your screen.<br />
  <br />
  <strong>I never received my activation email, what do I do?</strong><br />
  First make sure it's not in your Spam/Junk Mail Folder.  If it is, simply highlight the email and drag it to your inbox.  Some services allow you to add the entire domain (@hyedating.com) to your safe/trusted list so any future emails will not be marked as Spam/Junk.  We strongly advise you to do that so you don't end up missing out on any members trying to contact you and miss a possible connection.  If the email is still not there, you may have accidentally type in the wrong email address during the signup process.  Unfortunately, you must go back and signup once again.<br />
  <br />
  <strong>I have a billing issue, who do I contact to resolve this?</strong><br />
  You can email us at billing@hyedating.com or call 877-807-5910 24-hours a day and a representative will help you resolve any billing issue you may have.  Please include your full name and the email address you used when you signed up along with your message.<br />
  <br />
  <strong>I'm being harassed by another member on HyeDating.com.  How do I stop this?</strong><br />
  We're sorry this is happening and we're here to help.  If you are receiving abusive messages, we have a link in the lower left corner of each email message that says &quot;Report Abuse&quot;.  Simply click that link and that message will be flagged and sent to our staff for further review.  We promise you, your safety and privacy is our top priority.  We will take all necessary steps to ensure you are no longer contacted by that particular individual.<br />
  <br />
  <strong>Is my personal information safe on HyeDating?<br />
  </strong>Your personal information such as your real name, address, telephone number and email will never be disclosed to any member at any time.  Only the information you choose to share will be visible to others such as your profile and photos.  HyeDating staff will never ask you for personal information at anytime so please don't reply to any message that asks you for any type of information.  Simply click the &quot;Report Abuse&quot; link in the lower left corner of the message to flag that message and send it to us for review.<br />
  <br />
  <strong>I have a question you did not answer here!</strong><br />
  Please feel free to email us any comments or concerns you may have at support@hyedating.com or visit our contact page and submit your message there.<br />
  </p>
  <p>&nbsp;</p>
  <%= render 'application/static_bottom' %>
</div>
