<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><%= link_to(image_tag('main_03.png', width: '331', height: '70', border: '0'), root_path) %></td>
  </tr>
  <tr>
    <td height="50">&nbsp;</td>
  </tr>
  <tr>
    <td align="center"><h3>Thank you for signing up to HyeDating.com!</h3>
      <h3>We have just sent you an activation email.  Please click on the link in the email to activate your account and complete your online dating profile.&nbsp;&nbsp;If you do not receive the email within a few minutes, please check your Spam/Junk Mail folder and mark as not spam.</h3></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
