<div class="style1">
  <p style='padding-top: 40px'>
  </p>
  <hr size="1">
  <small>
    <p>
      <%= link_to 'Unsubscribe', unsubscribe_user_url(token) %> to no longer receive emails from HyeDating.com<br>
      You can also control email preferences from your account settings.
    </p>
  </small>
  <hr size="1">
  <small>HyeDating<br>
    1146 N Central Ave<br>
    Glendale CA 91202
  </small>
</div>
