<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
  .style1 {font-family: Arial, Helvetica, sans-serif}
</style>
</head>

<body>
<table width="535" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="<%= asset_url('header-logo.gif') %>" width="317" height="75" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><span class="style1">You are now an active member of HyeDating.com. We encourage our members to get involved in our lounge and complete your profile by answering all questions and submitting pictures. Remember a picture helps your profile get noticed by other active members. We have a 5-star rating system that helps other members see what kind of profile you have and how serious you are about dating. You can read about the 5-star rating system within the members lounge. We also ask our members to be courteous and respect all as you would want to be respected and treated. We hope that you will find what you are looking for at HyeDating.com.<br />
      <br />
      HyeDating.com Username: <strong><%= @user.username %></strong><br />
      <br />
      <strong><%= link_to 'Click here', login_url %></strong> to login now and get started.<br />
      <br />
      Good Luck on your search for your Perfect Match! </span><br />
      <%= render 'footer', token: @user.unsubscribe_token %>
  </td>
  </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>

