%h1= I18n.t('emails.password_reset.title')
= I18n.t('emails.password_reset.body')
= link_to I18n.t('emails.password_reset.link'), edit_password_reset_url(@user.reset_password_token)

= render 'footer', token: @user.unsubscribe_token
