<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basics</h3>
  </div>
  <div class="panel-body">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "Stretches", basics_stretches_path %>
      </h4>
      This is a test description come check it out.
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "Wrist Stretches", basics_wriststretches_path %>
      </h4>
      This is a test description come check it out.
    </div>
  </li>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "Foundation Principles", basics_foundationprinciples_path %>
      </h4>
      This is a test description come check it out.
    </div>
  </li>
</ul>
  </div>
</div>
