

<div class="row">

  <div class="col-xs-3">
  
  <%= render 'basics/basics_sidenav' %>
  
  </div>

  <div class="col-xs-9">
  	<h3>Foundation Principles</h3>
	<iframe src="//player.vimeo.com/video/76790134?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

	  <ul class="pager">
	  	<li class="previous">
	  		<%= link_to '<- Back: Wrist Stretches', basics_wriststretches_path %>
	  	</li>
    	<li class="next">
    		<%= link_to 'Next Section: Core Training ->', root_path %>
    	</li>
  </ul>

	</div>
</div>

<br>
<div class="jumbotron">
    <h2>Foundation Princples</h2>
    <p>Description content instructions go here.</p>
</div>