.container-fluid
	.row.change-password-page
		%form{:action=>"/change_password", :method=>"post", :"data-validate" => "parsley"}
			.row.first-row
				.span6
					%p.page-title PPDM Solutions Inc
				.span4{:style=>"padding-top: 15px;"}
					%a.btn.btn-primary{:href=>"/account_setup"} Update Profile
					%a.btn.btn-success{:href=>edit_user_password_path(current_user)} Change Pssword
			.row.head-row
				%p.item-title Change Password
			.row.second-row
				.span7.offset3{:style=>"background-color: white;border: 1px solid #eee;"}
					.row{:style=>"padding:25px;"}
						.control-group
							%label.control-label Current password:
							.controls
								%input{:type=>"password", :name=>"cur_pass", :"data-required"=>"true"}
						.control-group
							%label.control-label New pasword:
							.controls
								%input{:type=>"password", :name=>"new_pass", :"data-required"=>"true"}
						.control-group
							%label.control-label Verify password:
							.controls
								%input{:type=>"password", :name=>"conf_pass", :"data-required"=>"true"}
					.row{:style=>"border-top:solid 1px #aaa; padding: 15px 0;text-align: center;"}
						%input.btn{:type=>"submit", :value=>"Save changes"}