

<div class="row">

  <div class="col-xs-3">
  
  <%= render 'core/foundation_navleft' %>
  
  </div>

  <div class="col-xs-9">
    <h3>Foundation Fundamentals: Introduction to Toprocks</h3>
  <iframe src="//player.vimeo.com/video/76790305?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <ul class="pager">
      <li class="next">
        <%= link_to 'Next Section: Footwork Foundation 1 ->', core_foundation_footwork1_path %>
      </li>
  </ul>

  </div>
</div>

<br>
<div class="jumbotron">
    <h2>Introduction to Toprocks</h2>
    <p>Description content instructions go here.</p>
</div>