

<div class="row">

  <div class="col-xs-3">
  
  <%= render 'core/power_navleft' %>
  
  </div>

  <div class="col-xs-9">
    <h3>Power Moves: Hand Glides & Crickets</h3>
  <iframe src="//player.vimeo.com/video/76790277?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <ul class="pager">
      <li class="previous">
        <%= link_to '<- Back: The Turtle', core_power_turtles_path %>
      </li>
      <li class="next">
        <%= link_to 'Next Section: Body Rock Abs->', core_bodyrock_abs_path %>
      </li>
  </ul>

  </div>
</div>

<br>
<div class="jumbotron">
    <h2>Foundation Fundamentals: Footwork Foundation 1</h2>
    <p>Description content instructions go here.</p>
</div>