<div class="container">
       <div class="container-fluid"><!-- container-fluid start -->
				<div class="row-fluid">
					<!--========================Sidebar content========================================================================================-->
					<div class="span2">
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading sidebar-menu1">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
									DEPARTMENT <img src="assets/img/page-img/category-ico.png">
									</a>
								</div>
								 <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
									<div class="accordion-inner">
											<form class="form-horizontal">
												<input type="text" class="input-xlarge" placeholder="Insert the name" id="input01">
												<button class="btn" type="submit">Add</button>
											</form>
										<ul>
											<li class="active"><div class="added"><span class="added-num">1</span>.<span class="added-content">Brainstorming team</span><div class="icon-remove"></div><a href="#" class="icon-pencil"></a></div></li>
											<li><div class="added"><span class="added-num">2</span>.<span class="added-content">project x</span><div class="icon-remove"></div><a href="#" class="icon-pencil"></a></div></li>
											<li><div class="added"><span class="added-num">3</span>.<span class="added-content">Test Space</span><div class="icon-remove"></div><a href="#" class="icon-pencil"></a></div></li>
										</ul>
									</div>
								</div> 
							</div>
							
						</div>
						<div class="side-bar1">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
										Employee
									</a>
								</div>
								<div id="collapseTwo" class="accordion-body collapse ">
									<div class="accordion-inner">
										<span>Invite people to space</span>
									</div>
									<div class="accordion-inner">
										<span>Uplaod documents</span>
									</div>

								</div>
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse--">
									Task
									</a>
								</div>
								<!-- edit the collapse content -->
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse--">
								Conversation
								</a>
								</div>
								
							</div>
							<div class="accordion-group">
								<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse--">
								Document
								</a>
								</div>
								
							</div>
							<div class="conv"><span></span></div>
						</div>
						<div class="side-bar1">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
										Design Department
									</a>
								</div>
								 <div id="collapseFour" class="accordion-body collapse in">
									<div class="accordion-inner">
											
										<ul>
											<li class="active"><div class="added"><span class="added-num">Manager</span>:<a href="#" class="added-content">John Talabot</a><!-- div class="icon-remove"></div --> </div></li>
											<li><div class="added"><span class="added-num">Employee</span>:<a href="#" class="added-content">6</a><!-- div class="icon-remove"></div --></div></li>
											<li><div class="added"><span class="added-num">Tasks</span>:<a href="#" class="added-content">6</a><!-- div class="icon-remove"></div --></div></li>
											<li><div class="added"><span class="added-num">Document</span>:<a href="#" class="added-content">6</a><!-- div class="icon-remove"></div --></div></li>
										</ul>
									</div>
								</div> 
							</div>
						</div>
					</div>
                    <!--===============Body content ================================================================================================================-->
					<div class="span10">

						<div class="container-header">
							<p>Activities</p>
						</div>
						<div class="actBlock">
							<div class="containerTitle">
								<div class="line1"></div> <p class="dateTitle">Today</p><div class="line2"></div>
							</div>
							<div class="accordion" id="accordion2">
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD1">
											<a href="#">John Talabot</a> started  a <a href="#"> conversation</a> with<a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD1" class="accordion-body collapse in">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>How do you do? How are you this morning?</span></div>
													</li>
													<li class="timeAgo"><em class="hours">21&nbsp; hours ago</em>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply
													</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
												
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
												
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD2">
										<a href="#">John Talabot</a> assigned  a <a href="#"> task</a> to <a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD2" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
												
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD3">
										<a href="#">John Talabot</a> upload  a <a href="#"> document</a> for your 
										</div>
									</div>
									<div id="collapseD3" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD4">
											<a href="#">John Talabot</a> started  a <a href="#"> conversation</a> with<a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD4" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD5">
											<a href="#">John Talabot</a> started  a <a href="#"> conversation</a> with<a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD5" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
											    </ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD6">
										<a href="#">John Talabot</a> assigned  a <a href="#"> task</a> to <a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD6" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD7">
										<a href="#">John Talabot</a> upload  a <a href="#"> document</a> for your 
										</div>
									</div>
									<div id="collapseD7" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="actBlock">
							<div class="containerTitle">
								<div class="line1"></div> <p class="dateTitle">Yesterday</p><div class="line2"></div>
							</div>
							<div class="accordion" id="accordion2">
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD8">
											<a href="#">John Talabot</a> started  a <a href="#"> conversation</a> with<a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD8" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD9">
										<a href="#">John Talabot</a> assigned  a <a href="#"> task</a> to <a href="#"> Fred D</a>
										</div>
									</div>
									<div id="collapseD9" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<div class="accordion-toggle" data-toggle="collapse" href="#collapseD10">
										<a href="#">John Talabot</a> upload  a <a href="#"> document</a> for your 
										</div>
									</div>
									<div id="collapseD10" class="accordion-body collapse">
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
										<div class="accordion-inner">
												<ul>
													<li class="pic">
													</li>
													<li class="middle"><div><span>Bambl</span></div>
													</li>
													<li class="timeAgo"><span class="hours">21</span>&nbsp;<span>hours ago</span>
													</li>
												</ul>
												<div class="reply-icon"><i class="icon-reply"></i>reply</div>
										</div>
									</div>
								</div>
	

							</div>
						</div>
						
					</div>
				</div>
	   </div><!-- container-fluid exit -->

      <div id="push"></div>
    </div>