/ Body Start End
.span10{:style=>"margin-left: 86px;"}		
	.footerWapper
		\©
		:javascript
			var d = new Date();var n = d.getFullYear(); 
			document.write(n);	
		Aligned Results Limited. All Rights Reserved.		.
		%a{:href => "#."} Team
		%a{:href => "#."} Contact
		%a{:href => "#."} Blog
		%a{:href => "#."} Terms
		%a{:href => "#."} Privacy