<div class="container">
       <div class="container-fluid"><!-- container-fluid start ------------------>
				<div class="row-fluid">
					<!--========================Sidebar content========================================================================================-->
					<div class="span2">
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div class="accordion-heading sidebar-menu1">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
									INTERVIEW<img src="assets/img/page-img/category-ico.png">
									</a>
								</div>
								 <div id="collapseOne" class="accordion-body collapse in">
									<div class="accordion-inner">
											<form class="form-horizontal">
												<input type="text" class="input-xlarge" placeholder="Insert the name" id="input01">
												<button class="btn" type="submit">Add</button>
											</form>
										<ol>
											<li class="active"><div class="added"><span class="added-num">1</span>.<span class="added-content">mark jonson</span><div class="icon-remove"></div><a href="#" class="icon-eye-open"></a></div></li>
											<li><div class="added"><span class="added-num">2</span>.<span class="added-content">Sally Sally</span><div class="icon-remove"></div><a href="#" class="icon-eye-open"></a></div></li>
											<li><div class="added"><span class="added-num">3</span>.<span class="added-content">john john</span><div class="icon-remove"></div><a href="#" class="icon-eye-open"></a></div></li>
										</ol>
									</div>
								</div> 
							</div>
							
						</div>
						
					</div>
                    <!--===============Body content ================================================================================================================-->
					<div class="span10">

						<div class="container-header">
							<p>Interview with Mark Jonson</p>
						</div>
						<div class="content">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="focusedInput">Interviewee Refrance:</label>
									<div class="controls">
									  <p class="text-info"><strong>Mark Jonson</strong></p>
									</div>
								</div>
                                <div class="control-group">
									<label class="control-label" for="focusedInput">Suggested Participants:</label>
									<div class="controls">
										<div class="people-info">
											<ul>
												<li>
													<div class="info-img"></div>
												</li>
												<li>
													<div class="info"><p class="text-info">Helen Oslen</p><span>234-1244-1534</span></div>
												</li>
												<li>
													<div class="info"><div class="icon-envelope"></div><span>Helen@yahoo.com</span></div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput">Date and Time:</label>
									<div class="controls">
										  <div id="datetimepicker2" class="input-append">
											<input data-format="MM/dd/yyyy HH:mm:ss PP" type="text">
											<span class="add-on">
											  <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar">
											  </i>
											</span>
										  </div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput">Type:</label>
									<div class="controls">
									  <p class="text-info">Skype</p><span> Inperson Telephone</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput">Agenda:</label>
									<div class="controls">
									      <div class="textarea"><textarea rows="3">To start the conversation with him and get a first impression.</textarea></div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput">Files:</label>
									<div class="controls">
									  <span class="label">Confidentiality.docx</span><div class="icon-plus"></div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput">Tags:</label>
									<div class="controls">
										<span class="label">Junior</span><span class="label">First meeting</span><div class="icon-plus"></div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="focusedInput">Notes:</label>
									<div class="controls">
									  <div class="note-info"><p>First meeting was a very promising one. both parties were keen on talking about their mutual interests.The candidates seems to be an individual with a lot of potential. I suggest another meeting.</p>
									  </div>
									</div>
								</div>
							</div>
							
						</div>
						
						
					</div>
				</div>
	   </div><!-- container-fluid exit ------------------>

      <div id="push"></div>
    </div>