<div id="resume02" class = "content3">
  
  <div class="content-group">
    <div class="controls control-title1" style="width:100%; float:left;">
      <p class="text-info" style="padding-left:0px;">
        Career Objectives
      </p>
    </div>
  </div>
  <div class="content-group" style="width:100%;">
    <div class="line3">
      
    </div>
  </div>
  <div class="content-group">
    <textarea class="textarea-content" rows=3 placeholder="What I am you looking for in a company...">
    </textarea>
  </div>
  <div class="content-group">
    <a href="#" style="line-height:43px;">
      <i class="pic2 lamp">
        &nbsp
      </i>
      Need help?
    </a>
  </div>
  
</div>
