<div id="resume00" class = "content3" style="background-color:#fff;">
  
  <div class="content-group" style="margin-top:0px;">
    <div class="controls control-title1" style="width:100%; float:left;">
      <p class="text-info" style="padding-left:0px;">
        Personal Information
      </p>
    </div>
  </div>
  <div class="content-group" style="width:100%;">
    <div class="line3">
      
    </div>
  </div>
  <div  class="content-group">
    <div class="controls span7">
      <h4>
        Leigh Taylor
      </h4>
      <p style="padding-left:0px;">
        Web Designer / Graphic Designer
      </p>
      <small>
        <i class="icon-map-marker">
        </i>
        South Carolina, Columbia
      </small>
      <br>
      
      <div class="btn-group" data-toggle="buttons-radio">
        <a href="#" class="btn btn-primary  btn-small" style="font-size:18px; font-weight:bold;">
          f
        </a>
        <a href="#" class="btn btn-primary  btn-small">
          Connect with Facebook
        </a>
      </div>
      <div class="btn-group" data-toggle="buttons-radio">
        <a href="#" class="btn btn-info btn-small" style="font-size:18px;">
          in
        </a>
        <a href="#" class="btn btn-info btn-small" >
          Connect with Linkedin
        </a>
      </div>
    </div>
    <div class="controls span5" style="float:right;">
      <div class="img-rounded video-screen">
        <div class="img-rounded video-content">
          <a href="#">
            <img src="/assets/page-img/play1.png" class="img-circle play-btn-center">
          </a>
        </div>
        <button class="btn-R-video btn">
          upload
        </button>
        <label class="btn-R-video" style="margin-top:14px;">
          Video Resume
        </label>
      </div>
      <div class="input-append1">
        <button class="btn btn-primary" type="button">
          YouTube URL
        </button>
        <input style="width:53%;" class="input-xlarge" id="appendedInputButtons" type="text">
        
      </div>
    </div>
  </div>
</div>
