<div id="resume09" class = "content3">
  
  <div class="content-group">
    <div class="controls control-title1" style="width:100%; float:left;">
      <p class="text-info" style="padding-left:0px;">
        Resume Satus
      </p>
    </div>
  </div>
  <div class="content-group" style="width:100%;">
    <div class="line3">
      
    </div>
  </div>
  <div class="content-group">
    <label class="radio">
      <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
      <i class="icon-user">
      </i>
      <b>
        Public:
      </b>
      Allow any employer to find me
    </label>
    <label class="radio">
      <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
      <i class="icon-lock">
      </i>
      <b>
        Private:
      </b>
      Only allow employers for jobs I apply to view my information.
    </label>
  </div>
  
</div>
