<div id="resume06" class = "content3">
  
  <div class="content-group">
    <div class="controls control-title1" style="width:100%; float:left;">
      <p class="text-info" style="padding-left:0px;">
        Skills
      </p>
    </div>
  </div>
  <div class="content-group" style="width:100%;">
    <div class="line3">
      
    </div>
  </div>
  <div class="content-group">
    <input id="add1" type="text">
    <button class="btn btn-primary" >
      +add
    </button>
  </div>
  <div class="content-group">
    <button class="btn btn-primary" >
      WebDesign
      <i class="icon-remove">
      </i>
    </button>
    <button class="btn btn-primary" style="margin-left:10px;">
      Photoshop
      <i class="icon-remove">
      </i>
    </button>
  </div>
  
</div>

