<div id="resume01" class = "content3">
  
  <div class="content-group">
    <div class="controls control-title1" style="width:100%; float:left;">
      <p class="text-info" style="padding-left:0px;">
        Resume-Upload/Import
      </p>
    </div>
  </div>
  <div class="content-group" style="width:100%;">
    <div class="line3">
      
    </div>
  </div>
  <div class="content-group">
    <label class="radio">
      <input type="radio" style="margin-top:7px;" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Upload resume : &nbsp
      <input class="input-xlarge" type="file" />
      
    </label>
    <label class="radio">
      <input type="radio" style="margin-top:3px;" name="optionsRadios" id="optionsRadios2" value="option2">
      Cut and paste your resume :
    </label>
  </div>
  <div class="content-group">
    <textarea class="textarea-content" rows="6" >
    </textarea>
  </div>
</div>
