<div class="sidebar-menu"><a class="accordion-toggle">SETTINGS</a></div>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="/user_settings">
			Company info
			</a>
		</div>
	
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle"  href="/settings/plan">
				Plan information
			</a>
		</div>
		
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" href="/invitations">
			Users
			</a>
		</div>
		
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
		<a class="accordion-toggle" href="/settings/payment">
		Credit card info
		</a>
		</div>
		
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
		<a class="accordion-toggle" href="/settings/invoice">
		Invoice Info
		</a>
		</div>
		
	</div>
</div>
</div>
<div class="span10">