<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->
        <div class="sidebar-menu">
          <a class="accordion-toggle">
            TASK MANAGEMENT
          </a>
        </div>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                All Tasks
              </a>
            </div>
            
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Completed Task
              </a>
            </div>
            
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Late Task
              </a>
            </div>
            
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                Assign Task
              </a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="span5">
        <!--Body content-->
        <div class="container-header taskMH">
          <p>
            Create a task
          </p>
        </div>
        <div id="task_form"></div>
        <div class="containerTitle">
          <div class="line1"></div>
          <div class="dateTitle">Tasks</div>
          <div class="line2"></div>
        </div>
        <div class="accordion accordion1" id="task_list"></div>
      </div>
      <!-- span5 end -->
      <!--- span4 start -->
      <div class="span4">
        <div class="marginH5" style="background-color:#e9e9e9; ">
          <div class="margin-bg1 ">
            
            <p class="text-left " style=" margin-top:10px; margin-bottom:10px;">
              Deadline:
              <span class="text-info3">
                02/12/2013
              </span>
            </p>
            
          </div>
          <div class="line">
          </div>
          <div class="margin-bg1">
            <p class="text-left">
              Assignation :
            </p>
            <div class="marginH7">
              <div class="addedUserContent" style="width:auto;">
                <i id="user001" class="addedUser">
                  &nbsp;
                </i>
                <a href="#">
                  T.Cloudxify
                </a>
              </div>
              <div class="addedUserContent" style="width:auto;">
                <i id="user002" class="addedUser">
                  &nbsp;
                </i>
                <a href="#">
                  Cloudxify
                </a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="marginH5" style=" display: inline-table; ">
          <div class="marginH1">
            <div class="addedUserContent" style="width:auto; margin-top:20px;">
              <img src="/assets/user-img/helen.png">
            </div>
            <textarea class="space3" style="resize:none;"></textarea>
          </div>
          <div class="marginH1">
            <ul class="display-ul1">
              <li class="display-li">
                <a href="#" data-toggle="tab">
                  <i class="icon-attach icon-white">
                    &nbsp;
                  </i>
                  Attach a file
                </a>
              </li>
              <li class="H-bar">
                &nbsp;
              </li>
              <li class="display-li">
                <button class=" btn-primary">
                  Post
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="line">
        </div>
        <div class="marginH5" style="display: inline-table; width:95%; ">
          <div class="marginH1" style="display:table-caption;">
            <small style="float:right;">
              8493729-06AMP
            </small>
            
          </div>
          <div class="marginH1">
            <div class="addedUserContent" style="width:auto;">
              <img src="/assets/user-img/helen.png">
            </div>
            <div class="space4" style="">
              <p class="text-info p-space" style="">
                Team Cloudxify
              </p>
              <i class="icon-remove btn-R-pos p-space">
              </i>
              <br>
              <p style="padding-left:10px;">
                <small>
                  Creating the best possible annual report is impossible without precise attention to details.
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="marginH5" style="display: inline-table; width:95%; ">
          <div class="marginH1" style="display:table-caption;">
            <small style="float:right;">
              8493729-06AMP
            </small>
            
          </div>
          <div class="marginH1">
            <div class="addedUserContent" style="width:auto;">
              <img src="/assets/user-img/helen.png">
            </div>
            <div class="space4" style="">
              <p class="text-info p-space" style="">
                Team Cloudxify
              </p>
              <i class="icon-remove btn-R-pos p-space">
              </i>
              <br>
              <p style="padding-left:10px;">
                <small>
                  Creating the best possible annual report is impossible without precise attention to details.
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="marginH5" style="display: inline-table; width:95%; ">
          <div class="marginH1" style="display:table-caption;">
            <small style="float:right;">
              8493729-06AMP
            </small>
            
          </div>
          <div class="marginH1">
            <div class="addedUserContent" style="width:auto;">
              <img src="/assets/user-img/helen.png">
            </div>
            <div class="space4" style="">
              <p class="text-info p-space">
                Team Cloudxify
              </p>
              <i class="icon-remove btn-R-pos p-space">
              </i>
              <br>
              <p style="padding-left:10px;">
                <small>
                  Creating the best possible annual report is impossible without precise attention to details.
                </small>
              </p>
              <b class="p-space">
                <small>
                  Abed.Jpg
                </small>
              </b>
              <br>
              <ul class="display-ul1" style="margin-left:10px;">
                <li class="display-li">
                  <a href="#">
                    <small>
                      View
                    </small>
                  </a>
                </li>
                <li class="H-bar-small">
                  &nbsp;
                </li>
                <li class="display-li">
                  <a href="#">
                    <small>
                      Download
                    </small>
                  </a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      <!--- span4 end -->
    </div>
    
    <!--- row-fluid end -->
  </div>
  <!-- container-fluid -->
  
  <div id="push">
  </div>
</div>

