						<div class="span2" style="width:18%;">
							<div class="side-bar1">
								<div class="image-wrapper">
									<%= image_tag("picture-upload/default-male.png") %>
									<p>
										Leigh Taylor
									</p>
								</div>
							</div>
							<div class="side-bar1">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo"> <h4>Setting Info</h4> </a>
									</div>
									<div id="collapseTwo" class="accordion-body collapse ">
										<div class="accordion-inner">
											<a href="#resume00"><span>Search Preferences</span></a>
										</div>
										<!-- <div class="accordion-inner">
											<a href="#resume01"><span>Time Zone Setting</span></a>
										</div> -->
										<div class="accordion-inner">
											<a href="#resume02"><span>Privacy Setting</span></a>
										</div>
										<!-- <div class="accordion-inner">
											<a href="#resume04"><span>Change Username</span></a>
										</div> -->
										<div class="accordion-inner">
											<a href="#resume05"><span>Reset Password</span></a>
										</div>
										<div class="accordion-inner">
											<a href="#resume06"><span>Cancel Account</span></a>
										</div>

									</div>
								</div>
								<div class="conv">
									<span></span>
								</div>
							</div>

						</div>
