/* The color palette */

$wh: white;
$box-bgcolor: #f9f9f9;
$offwh: #eee;
$lgrey: #cccccc;
$grey: #94989b;
$dgrey: #40454a;
$bl: black;

$red: #cc1818;
$dred: #df0909;
$burgundy: #9f0202;

$ye: #fc0;

$paleblue: #0085a7;
$lblue: #5495ce;
$blue: #1b7fcc;
$dblue: #0e5b96;

$gr: #24b920;
$khaki: #7e984b;

$logincolor: #d8dbde;