#left_side_nav {
  float: left;
  width: 280px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  padding: 0px;

  li{
    display: block;
    ul{
      padding: 0px;
    }
    a{
      display: block;
      padding: 10px 15px;
      background: #ccc;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #999;
      text-decoration: none;
      color: #000;
    }
    a:hover, a.active{
      background: #999;
      color: #fff;
    }
    ul{
      display: none; // used to hide sub-menus
      li a{
        padding: 10px 25px;
        background: #ececec;
        border-bottom: 1px dotted #ccc;
      }
    }
  }

}
