// Place all the styles related to the admin/pods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pod-show {
  .leader {
    h4 {
      margin: 0px;
    }
    .avatar {
      display: inline-block;
      float: left;
      height: 50px;
      width: 50px;
      margin-right: 12px;
    }
  }
}
