						<div class="span2" style="width:100%; margin-left: 0px;">
							<div class="dashboard-left-sidebar">
								<ul class="sidebar-panel">	
									<li class="jobs-item selected">								
										<div class="left-sidebar-jobs">											
											<%= link_to "Jobs","/employer/jobs#/new" %>
										</div>
									</li>
										<!-- <div class="accordion-inner">
											<a href="#resume01"><span>Time Zone Setting</span></a>
										</div> -->
									<li class="apllicants-item">
										<div class="left-sidebar-applicants">
											<!-- <a href="#resume02"><span>Applicant Management</span></a> -->
											<%= link_to "Applicants","/employer/jobs/applicants" %>
										</div>
									</li>
										<!-- <div class="accordion-inner">
											<a href="#resume04"><span>Change Username</span></a>
										</div> -->
									<li class="tasks-item">
										<div class="left-sidebar-tasks">
											<!-- <a href="#resume05"><span>Task</span></a> -->
											<%= link_to "Tasks","/employer/tasks" %>
										</div>
									</li>
									<li class="interviews-item">
										<div class="left-sidebar-interviews">
											<a href="#resume06"><span>Interviews</span></a>
										</div>
									</li>
									<li>
										<div class="left-sidebar-activitystream">
											<a href="#resume06"><span>Activity&nbspStream</span></a>
										</div>
									</li>
								</ul>
								<div class="conv">
									<span></span>
								</div>
							</div>

						</div>
