%p
  Hello #{@resource.email}!
%p
  You have been assigned as a #{@resource.roles.map {|role| role.name}.to_sentence} admin. Please click the link to create your password.
%p= link_to 'Create my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  Thanks,
  %br
  MediJean Admin