<!-- AWeber Web Form Generator 3.0 -->
<style type="text/css">
#af-form-1636034563 .af-body .af-textWrap{width:98%;display:block;float:none;}
#af-form-1636034563 .af-body .privacyPolicy{color:#FFFFFF;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-1636034563 .af-body a{color:#FFFFFF;text-decoration:underline;font-style:normal;font-weight:normal;}
#af-form-1636034563 .af-body input.text, #af-form-1636034563 .af-body textarea{background-color:#FFFFFF;border-color:#858085;border-width:5px;border-style:solid;color:#000000;text-decoration:none;font-style:normal;font-weight:normal;font-size:18px;font-family:Verdana, sans-serif;}
#af-form-1636034563 .af-body input.text:focus, #af-form-1636034563 .af-body textarea:focus{background-color:#FFFAD6;border-color:#030303;border-width:5px;border-style:solid;}
#af-form-1636034563 .af-body label.previewLabel{display:block;float:none;text-align:left;width:auto;color:#0A090A;text-decoration:none;font-style:normal;font-weight:bold;font-size:16px;font-family:Verdana, sans-serif;}
#af-form-1636034563 .af-body{padding-bottom:15px;padding-top:15px;background-repeat:repeat-x;background-position:inherit;background-image:none;color:#FFFFFF;font-size:11px;font-family:Verdana, sans-serif;}
#af-form-1636034563 .af-quirksMode{padding-right:50px;padding-left:50px;}
#af-form-1636034563 .af-standards .af-element{padding-right:50px;padding-left:50px;}
#af-form-1636034563 .buttonContainer input.submit{background-color:#0479c2;background-image:url("http://jeromeskeecoaching.com/wp-content/themes/OptimizePress/images/optbuttons/yellow_sendmethevideo.png");color:#FFFFFF;text-decoration:none;font-style:normal;font-weight:normal;font-size:14px;font-family:Verdana, sans-serif;}
#af-form-1636034563 .buttonContainer input.submit{width:auto;}
#af-form-1636034563 .buttonContainer{text-align:right;}
#af-form-1636034563 button,#af-form-1636034563 input,#af-form-1636034563 submit,#af-form-1636034563 textarea,#af-form-1636034563 select,#af-form-1636034563 label,#af-form-1636034563 optgroup,#af-form-1636034563 option{float:none;position:static;margin:0;}
#af-form-1636034563 div{margin:0;}
#af-form-1636034563 form,#af-form-1636034563 textarea,.af-form-wrapper,.af-form-close-button,#af-form-1636034563 img{float:none;color:inherit;position:static;background-color:none;border:none;margin:0;padding:0;}
#af-form-1636034563 input,#af-form-1636034563 button,#af-form-1636034563 textarea,#af-form-1636034563 select{font-size:100%;}
#af-form-1636034563 select,#af-form-1636034563 label,#af-form-1636034563 optgroup,#af-form-1636034563 option{padding:0;}
#af-form-1636034563,#af-form-1636034563 .quirksMode{width:100%;}
#af-form-1636034563.af-quirksMode{overflow-x:hidden;}
#af-form-1636034563{background-color:transparent;border-color:#FFFFFF;border-width:0px;border-style:solid;}
#af-form-1636034563{display:block;}
#af-form-1636034563{overflow:hidden;}
.af-body .af-textWrap{text-align:left;}
.af-body input.image{border:none!important;}
.af-body input.submit,.af-body input.image,.af-form .af-element input.button{float:none!important;}
.af-body input.text{width:100%;float:none;padding:2px!important;}
.af-body.af-standards input.submit{padding:4px 12px;}
.af-clear{clear:both;}
.af-element label{text-align:left;display:block;float:left;}
.af-element{padding:5px 0;}
.af-form-wrapper{text-indent:0;}
.af-form{text-align:left;margin:auto;}
.af-quirksMode .af-element{padding-left:0!important;padding-right:0!important;}
.lbl-right .af-element label{text-align:right;}
body {
}
</style>
<form method="post" class="af-form-wrapper" action="http://www.aweber.com/scripts/addlead.pl"  >
<div style="display: none;">
<input type="hidden" name="meta_web_form_id" value="1636034563" />
<input type="hidden" name="meta_split_id" value="" />
<input type="hidden" name="listname" value="yes1coaching" />
<input type="hidden" name="redirect" value="http://jeromeskeecoaching.com/confirmation" id="redirect_542b3be80e98037068422101121d6615" />

<input type="hidden" name="meta_adtracking" value="Heroku_Contact_Form" />
<input type="hidden" name="meta_message" value="1" />
<input type="hidden" name="meta_required" value="email" />

<input type="hidden" name="meta_tooltip" value="" />
</div>
<div id="af-form-1636034563" class="af-form"><div id="af-body-1636034563"  class="af-body af-standards">
<div class="af-element">
<label class="previewLabel" for="awf_field-55861073">Email: </label>
<div class="af-textWrap"><input class="text" id="awf_field-55861073" type="text" name="email" value="" tabindex="500"  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
</div><div class="af-clear"></div>
</div>
<div class="af-element buttonContainer">
<input name="submit" id="af-submit-image-1636034563" type="image" class="image" style="background: none;" alt="Submit Form" src="https://s3-us-west-2.amazonaws.com/jskeegraphics/yellow_sendmethevideo.png" tabindex="501" />
<div class="af-clear"></div>
</div>
<div class="af-element privacyPolicy" style="text-align: center"><p>We respect your <a title="Privacy Policy" href="http://www.aweber.com/permission.htm" target="_blank">email privacy</a></p>
<div class="af-clear"></div>
</div>
</div>
</div>
<div style="display: none;"><img src="http://forms.aweber.com/form/displays.htm?id=jGzMbAzMLKxszA==" alt="" /></div>
</form>
<script type="text/javascript">
    <!--
    (function() {
        var IE = /*@cc_on!@*/false;
        if (!IE) { return; }
        if (document.compatMode && document.compatMode == 'BackCompat') {
            if (document.getElementById("af-form-1636034563")) {
                document.getElementById("af-form-1636034563").className = 'af-form af-quirksMode';
            }
            if (document.getElementById("af-body-1636034563")) {
                document.getElementById("af-body-1636034563").className = "af-body inline af-quirksMode";
            }
            if (document.getElementById("af-header-1636034563")) {
                document.getElementById("af-header-1636034563").className = "af-header af-quirksMode";
            }
            if (document.getElementById("af-footer-1636034563")) {
                document.getElementById("af-footer-1636034563").className = "af-footer af-quirksMode";
            }
        }
    })();
    -->
</script>

<!-- /AWeber Web Form Generator 3.0 -->