!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Dear 
    %h4 You are invited to join our vendor
    
    = link_to 'Join', @signup_url
    
  