
<!-- Begin page content -->
<div class="container">


    <div class="container-fluid">
			<div class="row-fluid">
			<div class="span2">
			<!--Sidebar content-->
				
				<%= render :partial => "settings/left_nav"%>

<!--Body content-->
		<div class = "container-header"><p>Employee</p></div>
		    <div class="row-fluid">
				<div class="span6">
					<div class="emp-content">
						<div class="controls control-title">
						  <p class="text-info">Basic</p>
					    </div>
						<div class="content-group">
							<div class="controls control-info">
								<p>Monthly basic account includes:</p>
							</div>
						</div>
						<div class="content-group">
							<div class="line">
								
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Storage 15 Gb</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>2 post jobs</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>2 users unlimited resumes view</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Social communcation</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Task Management</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Calendar</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p>ADD ON</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class="icon-plus"></i>Add user only $4.99</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class="icon-plus"></i>Post addiotion jobs $9.99</p>
							</div>
						</div>
						<div class="content-group">
							<div class="line">
								
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<ul class="display-ul">
									<li class="display-li">
										<ul>
											<li><p>$</p>
											</li>
											<li><p>Monthly</p>
											</li>
										</ul>
									</li>
									<li class="display-li">
										<h1>99</h1>
									</li>
									<li class="display-li">
										<input type="button" value="Upgrade" class="btn btn-green">
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<div class="span6">
					<div class="emp-content">
						<div class="controls control-title">
						  <p class="text-info">Advance</p>
					    </div>
						<div class="content-group">
							<div class="controls control-info">
								<p>Monthly basic account includes:</p>
							</div>
						</div>
						<div class="content-group">
							<div class="line">
								
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Storage 30 Gb for more storage management</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>2 post jobs</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>2 users unlimited resumes view</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Social communcation</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Task Management</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class=" icon-chevron-right"></i>Calendar</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p>ADD ON</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class="icon-plus"></i>Add user only $4.99</p>
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<p><i class="icon-plus"></i>Post addiotion jobs $9.99</p>
							</div>
						</div>
						<div class="content-group">
							<div class="line">
								
							</div>
						</div>
						<div class="content-group">
							<div class="controls control-info">
								<ul class="display-ul">
									<li class="display-li">
										<ul>
											<li><p>$</p>
											</li>
											<li><p>Monthly</p>
											</li>
										</ul>
									</li>
									<li class="display-li">
										<h1>159</h1>
									</li>
									<li class="display-li">
										<input type="button" value="Upgrade" class="btn btn-green">
									</li>
								</ul>
							</div>
						</div>

					</div>								
				</div>
			</div>

</div>
</div>
</div>

<div id="push"></div>
</div>
