.row
  .span12.black-box-form
    .row.main-row
      .span4
        %h4
          = t("doctor_flow.pending_claim.heading")
    %hr
    .row
      .span7.offset1    
        %p
          = t("doctor_flow.pending_claim.text1")
    %hr
    .row
      .span7.offset1
        %p
          = t("doctor_flow.pending_claim.text2")  
          =link_to t("doctor_flow.pending_claim.text3")
.row.empty-row