%p
  Forgot your username or password?
=form_tag password_resets_path, method: :post, class: "password-reset-form" do
  %p
    = text_field_tag :username_or_email, nil, placeholder: I18n.t('controllers.sessions.new.username_or_email')
  %p
    = submit_tag "Reset my password!", class: 'btn'
  %hr
