.container-fluid
	.row.post-main-page
		.row
			.span9.page-msg-box
				%p 
					If you want to edit your job, Please go back to the Form Window.
					%a{:href=>"#", :onclick=>"window.close(); window.history.back();"}Close Preview
		.row
			.span10.post-jobs-show-box
				.row
					.span10
						%h1= @jobseeker_training.job_title
				.row
					.span3
						%strong 
							Immigration Status: 
					.span8
						%label=@jobseeker_training.get_immigration_status
				.row
					.span3
						%strong 
							Need H-1B / Transfer: 
					.span8
						%label=@jobseeker_training.transfer == 1 ? 'Yes' : 'No'
				.row
					.span3
						%strong 
							Technology: 
					.span8
						%label=@jobseeker_training.technology
				.row
					.span3
						%strong 
							Instruction Mode: 
					.span8
						%label=@jobseeker_training.get_instruction_mode
				.row
					.span3
						%strong 
							Need Accomodation: 
					.span8
						%label=@jobseeker_training.accomodation == 1 ? 'Yes' : 'No'
						.row
				.row
					.span3
						%strong 
							Description: 
					.span8
						%label= @jobseeker_training.job_description			
			
:javascript 
	$('ul.nav-tabs li').eq(0).addClass('isCurrent');
