
:css
	.fc-header-right { display:none; }
	.calendarBox { padding:10px; padding-bottom:0px; }
/ Body Start here
.bodyWapper
	.tabBox
		= link_to "All Activities", child_activities_list_path+"?id="+selected_member.id, :class=>"tabSelected"
		= link_to "TimeLine", calendar_time_line_path
		.CL
	.tabContainer
		.tabAction
			.activityAction
				.jqGreenForm.FL
					%select#select{:name => "select", :style => "margin-right:8px;width:100px;"}
						%option Create new
						%option{:value => "School Timetable#505#575#add_activity.html"} School Timetable
						%option{:value => "<p style='font-size:12px; line-height:1.2; padding-top:5px;'>You can start by adding a New Exam Schedule, or continue adding a schedule to an exam you've created.</p>#600#565#create_exam.html"} Exam
						%option{:value => "Activity#505#575#add_activity.html"} Activity
						%option{:value => "Create Activity#750#630#day_create_activity.html"} Create Activity
						%option{:value => "Assignment#540#575#add_assignment.html"} Assignment
						%option{:value => "Update Holiday <p style='font-size:12px; line-height:1;padding-bottom:8px;'>You‚re adding a Holiday to Meera‚s School Calendar</p>#505#445#add_holiday.html"} Holiday
				.jqSmallform.FL
					%select#select{:name => "select", :style => "margin-right:8px;width:100px;"}
						%option School
						%option School
						%option School
					%select#select{:name => "select", :style=>"width:100px;"}
						%option No outcome
						%option No outcome
						%option No outcome
						%option No outcome
			.CL
		.calendarBox
			#calendar
/ Body Start End
:javascript
	var selectCall = 1;
	$(document).ready(function() {			
			$('#calendar').fullCalendar({
				minTime: 4,
				maxTime: 24,
				height:600,
				defaultView: 'agendaWeek',
				header: {
					left: '',
					center: 'prev title next today',
					right: 'agendaDay,agendaWeek,month'
				},
				editable: false,
				events: "/calendar/get_data",
				timeFormat: 'h:mm t{ - h:mm t} ',
			});
			
		});
	