

<div class="row">
  <div class="col-md-3">
  	<%= image_tag "https://s3-us-west-2.amazonaws.com/jskeegraphics/IMG_7450.PNG",  :width=>"100%" %>

  </div>
  <div class="col-md-9">

<h2>About Jeromeskee</h2>
<p>
What’s going on…

I wanted to properly introduce myself and say a quick, “ello.” The question you are most likely asking is:

Who is Jeromeskee, and why can he help me breakdance?
<br> <br> 
The truth is, I'm just a normal person like you, who decided that I wanted to do something cool and fun and be able to “get down” on the dance floor when I wanted to at any time.
 <br> <br> 
So I made it my mission to enter thousands of competitions, meet all the BEST experts around the world, try all the techniques, and become the type of B-Boy that had powerful knowledge in ciphers, shows and world class competitions.
 <br> <br> 
After 17 years of trial and error, and learning through my losses and wins, I can truly say that I have experienced a lot. Over time I have learned powerful concepts and formulas that have given me outstanding results.
 <br> <br> 
In time, these formulas and concepts have helped my B-boy crew, Massive Monkees, win 2 national U.S. championships, 9 international titles, and become one of the few crews in the world to become 2x World Champions.
 <br> <br> 
We have performed in front millions on a T.V. show called, America’s Best Dance Crew (season 4). I was featured as a guest on Dancing With the Stars, dancing with Rock Steady Crew. My crew and I have performed in halftime shows nationally for the NBA, worked for different U.S. embassies around the world, and conducted seminars and lectures. I have also had the privilege to judge many world-championship competitions, in over 23 different counties.
 <br> <br> 
I’m not big into telling what I’ve done, but the fact is that I am living a FUN and rewarding lifestyle. I have had many amazing life-changing experiences over the last 17 years.
 <br> 

<%= image_tag "https://s3-us-west-2.amazonaws.com/jskeegraphics/IMG_8348.JPG", :class=>"profilecenter" %>

 <br> 
I have taught thousands of students worldwide. Many of my students are now competing on a professional level and can dance at any socials, clubs or parties. They have learned how to trigger supreme confidence on the dance floor!
 <br> <br> 
And now I want to teach you everything I’ve learned, and spare you all the time, pain, rejection, and fear I had to experience.
 
 <br> <br> <br>
As you know by now, there are many out there trying to persuade you, that they have all the answers and are the next best thing.
 <br> <br> 
To be honest with you, I do not have all the answers.
 <br> <br> 
But, I do believe that I have several of the answers, and I believe the answers that I have are the best in the world.
 <br> <br> 
I have produced immense results for my students for over 11 years. I am now giving you that same information in my tutorials.
 <br> <br> 
My only hope is that you get MASSIVE value from them and receive great benefits.
 <br> <br> 
<h3>With Respect,</h3>
<font size="40px" class="jsig">Jeromeskee</font>
</p>
</div>
</div>