<h3>You're Almost Done - Activate Your Subscription!</h3>
<br>
You've just been sent an email that contains a confirm link.
<br><br>
In order to activate your subscription, check your email and click on the link in that email. You will not receive your subscription until you click that link to activate it.
<br><br>
If you don't see that email in your inbox shortly, fill out the form again to have another copy of it sent to you.
<br><br>
<br>

<b>Be sure to also follow us . . .</b><br>

<%= link_to image_tag("http://www.mopca.com/mpca.nsf/466ae16f862f217186257695005416d7/35cd2d7b513b912386257be9005ad5b9/$FILE/facebook_like_logo.gif", width: '200px'), 'https://www.facebook.com/pages/Jeromeskee-Coaching/469194843198991'  %>