

<div class="row">
  <center>
    <h2><strong>Jeromeskee Coaching Testimonials</strong></h2>
  </center>
</div>

<div class="row">

  <div class="col-md-2"></div>
  <div class="col-md-8">  <iframe width="853" height="480" src="//www.youtube.com/embed/l7HCzT2oJsc" frameborder="0" allowfullscreen></iframe></div>
  <div class="col-md-2"></div>

</div>

<br>
<div class="row">

 <div class="col-md-2"></div>
  <div class="col-md-8">

  <div class="panel panel-default panelbg">
      <!-- Default panel contents -->
      <div class="panel-heading"><b>Join today to recieve videos!</b></div>
      <div class="panel-body">

            <%= render 'layouts/submitform' %> 
      </div>
    </div>

  </div>
  <div class="col-md-2"></div>

</div>