

<div class="row">
  <center>
    <h2><strong>Video</strong></h2>
  </center>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/bKjaT61gvFw" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/00kY3ha7dNU" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>
<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/v9f9RPmyZ5I" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/_f_1wBkGNJU" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/zXma71QkZF4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/EJXpzX-PPlk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <iframe width="853" height="480" src="//www.youtube.com/embed/s3u2W2RuT0k" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-2"></div>
</div>

<br>