<div id="contacts" style="z-index:99;position:relative;min-height:512px;">
    <span class="contact_type">Promo / Narration /<br>
                               Political / Trailers</span><br><br>
    
    Matt Ambrosia  x4020<br>
    <a href="mailto:mambrosia@paradigmagency.com">mambrosia@paradigmagency.com</a><br><br>
    
    Joe O'Brien   x4033<br>
    <a href="mailto:jobrien@paradigmagency.com">jobrien@paradigmagency.com</a>
    
    <div class="divider"></div>
    
    <span class="contact_type">Commercial / Industrial</span><br><br>


    Jeb Berstien  x4019<br>
    <a href="mailto:jberstien@paradigmagency.com">jberstien@paradigmagency.com</a><br><br>

    
    Olivia Catt  x4018<br>
    <a href="mailto:ocatt@paradigmagency.com">ocatt@paradigmagency.com</a><br><br>

    
    Matt Smith  x4034<br>
    <a href="mailto:msmith@paradigmagency.com">msmith@paradigmagency.com</a><br>

    <div class="divider"></div>
    
    <span class="contact_type">ANIMATION / BOOKS ON TAPE</span><br><br>

		Matt Ambrosia  x4020<br>
    <a href="mailto:mambrosia@paradigmagency.com">mambrosia@paradigmagency.com</a><br><br>    

    Olivia Catt  x4018<br>
    <a href="mailto:ocatt@paradigmagency.com">ocatt@paradigmagency.com</a><br><br>    

</div><!--contacts-->  