.container-fluid
	.row.post-main-page
		=render "layouts/nav-link-secondary"
		.row.first-row.post-training-page
			.span12.edit-box
				.page-header
					%p.page-title Post a Training/Placement
				= render :partial => "form"
