# PostgreSQL. Versions 8.2 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On Mac OS X with macports:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
development:  
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: parknow_development  
  pool: 5
  username: postgres
  password: postgres
  port: 5432
test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000
