.applicants-content-row{
	margin-top: 130px;
	margin-bottom:50px;
	.head{
		background-color: #ccc;
		padding: 10px 20px;
		margin-top: 10px;
	}
	.applicants-item{
		background-color: #ccc;
		padding: 20px;
		margin-top: 10px;
	}
}