<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">News & Updates</h1>
  </div>
  <div class="panel-body">
    Welcome to Jeromeskee Coaching.  Follow the classes in order to achieve great success.
    <br>-Jeromeskee
  </div>
</div>


<%= render 'basics/basics_homenav'%>

<%= render 'core/corenav'%>