@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:pts55f, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'pts55f';
    src: url(asset-path("pts55f.eot"));
    src: url(asset-path("pts55f.eot?#iefix")) format('embedded-opentype'),
         url(asset-path("pts55f.woff")) format('woff'),
         url(asset-path("pts55f.ttf")) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-regular';
    src: url(asset-path("opensans-regular-webfont.eot"));
    src: url(asset-path("opensans-regular-webfont.eot?#iefix")) format('embedded-opentype'),
         url(asset-path("opensans-regular-webfont.woff")) format('woff'),
         url(asset-path("OpenSans-Regular-webfont.ttf")) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-regular';
    src: url(asset-path("roboto-regular.eot"));
    src: url(asset-path("roboto-regular.eot?#iefix")) format('embedded-opentype'),
         url(asset-path('roboto-regular.woff')) format('woff'),
         url(asset-path('roboto-regular.ttf')) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald-regular';
    src: url(asset-path('oswald-regular.eot'));
    src: url(asset-path('oswald-regular.eot?#iefix')) format('embedded-opentype'),
         url(asset-path('oswald-regular.woff')) format('woff'),
         url(asset-path('oswald-regular.ttf')) format('truetype');
    font-weight: normal;
    font-style: normal;
}

img{
	border:none;
	max-width:100%;
}

ul{
	padding:0;
	margin:0;
}

li{
	list-style-type:none;
}

a{
	text-decoration:none;
}

#header{
	float:left;
	width:100%;
	height:140px;
	background-image:url(asset-path("header_bg.png"));
	background-repeat:no-repeat;
	background-position:center;
	background-color:#2e5b98;
	border-bottom:1px solid #0a121d;
}

.wrapper{
	width:1000px;
	margin:0 auto;
}

.header_inner{
	float:left;
	width:100%;
	height:140px;
}

.logo{
	float:left;
	width:233px;
	height:60px;
	margin-top:42px;
}

.menu{
	float:right;
	margin-top:54px;
}

.menu ul{
	float:left;
	width:415px;
	background:url(asset-path("btn_blurbg.png"));
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:20px;
}

.menu ul li{
	float:left;
}

.menu ul li.hwt_btn{
	width:131px;
	height:43px;
}

.menu ul li.hwt_btn a{
	background:url(asset-path("hiw_btnbg.png"));
	background-repeat:no-repeat;
}

.menu ul li.login_btn{
	width:85px;
	height:43px;
}

.menu ul li.login_btn a{
	background:url(asset-path("login_btnbg.png"));
	background-repeat:no-repeat;
}

.menu ul li.signup_btn{
	width:85px;
	height:43px;
}

.menu ul li.signup_btn a{
	background:url(asset-path("signup_btnbg.png"));
	background-repeat:no-repeat;
}

.menu ul li.rv_btn{
	width:108px;
	height:43px;
}

.menu ul li.rv_btn a{
	background:url(asset-path("rv_btnbg.png"));
	background-repeat:no-repeat;
}

.menu ul li a{
    color:#FFFFFF;
    display:block;
    font-size:16px;
    padding:11px 0;
    text-align:center;
	text-shadow:1px 1px 1px #666666;
}

.menu ul li a:hover{
    color:#ccc;
}

#banner{
	float:left;
	width:100%;
	height:468px;
	background:url(asset-path("banner_pic.jpg"));
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.banner_inner{
	float:left;
	width:100%;
	height:468px;
}

.bann_frm{
	float:left;
	width:326px;
	height:307px;
	margin-top:65px;
	background:url(asset-path("form_bg.png"));
	background-repeat:no-repeat;
}

.bann_frm_inn{
	float:left;
	width:227px;
	margin-left:42px;
	margin-top:40px;
}

.frm_it{
	float:left;
	width:100%;
	margin-bottom:12px;
	height:28px
}

.frm_it input{
	float:left;
	width:100%;
	font-family:pts55f, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#898a8e;
	text-align:center;
	border:none;
	padding:5px 0;
	background:url(asset-path("frm_itbg1.png"));
	background-repeat:no-repeat;
}

.frm_it input.frtyp2{
	width:103px;
	background:url(asset-path("frm_itbg2.png"));
	background-repeat:no-repeat;
}

.frt_ex{
	float:right !important;
}

.frm_btn{
	float:left;
	width:100%;
	display:table;
	text-align:center;
}

.frm_btn input{
	width:85px;
	height:31px;
	border:none;
	font-family:pts55f, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#555;
	cursor:pointer;
	text-align:center;
	background:url(asset-path("search_btnbg.png"));
	background-repeat:no-repeat;
}

#content{
	float:left;
	width:100%;
}

.cont_inner{
	float:left;
	width:100%;
	margin-top:45px;
}

.cont_inner ul{
	float:left;
	width:100%;
}

.cont_inner ul li {
    background:#FFFFFF;
    box-shadow: 1px 1px 3px #999999;
    float: left;
    margin: 2px;
    width: 246px;
}

.cont_inner ul li:hover{
    box-shadow:1px 1px 3px #333;
}

.cont_inner ul li span{
	float:left;
	width:100%;
	text-align:center;
	margin-top:60px;
	margin-bottom:52px;
}

.cont_inner ul li label{
	float:left;
	width:100%;
	height:43px;
	background:#5491e3;
}

.cont_inner ul li label ul {
    float: left;
    margin: 4%;
    width: 92%;
}

.cont_inner ul li label ul li{
    background:transparent;
    box-shadow:none;
    color:#FFFFFF;
    font-size:18px;
    width:auto !important;
}

.cont_inner ul li label ul li:hover{
	box-shadow:none;
}

.cont_inner ul li label ul li a{
	color:#fff;
}

.cont_inner ul li label ul li a:hover{
	color:#ccc;
}

.cont_inner ul li label ul li:last-child{
	float:right;
}

#bottom_footer{
	float:left;
	width:100%;
	min-height:336px;
	margin-top:25px;
	background:url(asset-path("btm_fttr_bg.png"));
	background-repeat:no-repeat;
	background-position:center;
}

.btm_ftrinn{
	float:left;
	width:100%;
	margin-top:43px;
}

.btm_ftrinn_mn{
	float:left;
	width:990px;
	margin:5px;
}

.btm_ftrinn_mn h4{
	float:left;
	width:100%;
	margin:10px 0 0;
	font-family:oswald-regular, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#b2b2b2;
	text-align:center;
	font-weight:normal;
	padding:10px 0;
	background:url(asset-path("btm_fthd_bg.png"));
	background-repeat:no-repeat;
}

.btm_ftrinn_mn ul{
	float:left;
	width:100%;
	margin-top:30px;
}

.btm_ftrinn_mn ul li{
	float:left;
	width:240px;
	margin-left:112px;
}

.btm_ftrinn_mn ul li:first-child{
	margin-left:20px;
}

.btm_ftrinn_mn ul li h6{
	float:left;
	width:100%;
	margin:0;
	font-family:oswald-regular, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#6a6a6a;
	text-align:left;
	font-weight:normal;
	padding:5px 0;
	background:url(asset-path("ftbl_ls_bg.png"));
	background-repeat:repeat-x;
	background-position:bottom;
}

.btm_ftrinn_mn ul li p{
	float:left;
	width:100%;
	min-height:70px;
	font-size:14px;
	color:#454545;
	text-align:left;
}

.btm_ftrinn_mn ul li span{
	float:left;
	width:188px;
	height:32px;
}

.btm_ftrinn_mn ul li span a{
	display:block;
	font-size:14px;
	color:#555;
	text-align:center;
	padding:6px 0;
	background:url(asset-path("ft_btbtn_bg.png"));
	background-repeat:no-repeat;
}

#footer{
	float:left;
	width:100%;
	background:#233445;
	position:relative;
	padding-top:52px;
	margin-top:20px;
}

.footer_inner{
	width:1000px;
	margin:0 auto;
}

.foot_link1{
	float:left;
	width:196px;
}

.foot_link1 h5{
	float:left;
	width:100%;
	font-family:roboto-regular, Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#fff;
	text-align:left;
	margin:0;
	font-weight:normal;
	background:url(asset-path("flink_headbg.png"));
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:12px;
}

.foot_link1 ul li{
	float:left;
	width:100%;
	font-family:opensans-regular, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top:6px;
}

.foot_link1 ul.ft_icon li{
	width:auto;
	margin-right:3px;
}

.foot_link1 ul.ft_icon li:hover{
	opacity:.8;
}

.foot_link1 ul li a{
	text-decoration:none;
	color:#b2b9c0;
}

.foot_link1 ul li a:hover{
	color:#fff;
}

.flinex {
    margin-bottom: 30px;
    margin-left: 72px;
}

.flxx2{
	margin-left:0;
}

.foot_inn1{
	float:left;
	width:100%;
	margin-bottom:30px;
}

.foot_inn2{
	float:left;
	width:100%;
	padding-top:30px;
	background:url(asset-path("footinn2_bg.jpg"));
	background-repeat:no-repeat;
	background-position:top;
}

.footer_beneath{
	float:left;
	width:100%;
	height:63px;
	background:url(asset-path("foot_benbg.png"));
	background-repeat:repeat-x;
}

.footben_inn{
	width:1000px;
	margin:0 auto;
	height:63px;
}

.footben_inn ul.flmlef {
    float: left;
    margin-top: 29px;
}

.footben_inn ul.flmlef li{
	float:left;
	color: #92979C;
    font-size: 12px;
}

.footben_inn ul.flmlef li a {
    color: #92979C;
    display: block;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
}

.footben_inn ul.flmlef li a:hover{
	text-decoration:underline;
}

.footben_inn ul.flmrigh {
    float: left;
    margin-top:30px;
    width: 100%;
}

.footben_inn ul.flmrigh li {
	font-family:opensans-regular, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#b5b5b5;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.footben_inn ul.flmrigh li a{
	border-left:1px solid #92979C;
}

.copmenr{
    float:left;
    width:100%;
}

.dev_txt {
    color:#898989;
    float: left;
    font-family:opensans-regular, Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
    width: 100%;
}

.dev_txt a{
	color:#898989;
}

.dev_txt a:hover{
	color:#fff;
}

.foot_icon1{
	float:left;
	width:100%;
}

.foot_icon1 ul{
	float:left;
}

.foot_icon1 ul li{
	float:left;
	margin-right:5px;
}

.foot_icon1 ul.paymic{
	float:right;
}

.foot_icon1 ul.paymic li{
	margin-right:0;
}

.foot_icon1 ul.paymic li:last-child{
	margin-top:-10px;
}

.ftic2{
    margin-bottom:15px;
    margin-top:20px;
}


.ban_shd {
    background: url(asset-path("banner_shadow.png"));
	background-repeat:no-repeat;
    height: 27px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}

/*=========== Inner Page ===========*/

.search_sectn{
    border-bottom:2px solid #5491E3;
    float:left;
    margin-bottom:15px;
    padding-bottom:20px;
    width:100%;
}

.cont_inner .search_sectn ul li{
    background:none;
    box-shadow:none;
    margin:0 15px 0 0;
    width:100px;
}

.cont_inner .search_sectn ul li.ser_smit{
	width:140px;
}

.cont_inner .search_sectn label{
    background:none;
    color:#454545;
    font-size:15px;
    height:auto;
    text-align:left;
}

.cont_inner .search_sectn input{
	float:left;
	width:96%;
	border:1px solid #ddd;
	padding:3px;
	font-family:pts55f, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#454545;
	text-align:left;
}

.cont_inner .search_sectn input.serch_btn {
    background:#5491E3;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 18px;
    padding: 11px 0;
    text-align: center;
}

.cont_inner .search_sectn input.serch_btn:hover{
	background:#333;
}

.left_panel{
    float:left;
    width:600px;
}

.cont_inner .left_panel ul li{
	width:296px;
}

.ser_rslt{
	float:left;
	width:100%;
	margin-bottom:15px;
}

.ser_rslt span{
	float:left;
	font-size:14px;
	color:#454545;
	text-align:left;
}

.ser_rslt span.sort_ic{
	margin-left:100px;
	width:128px;
}

.ser_rslt span.sort_ic img{
    float:left;
    margin:2px 7px;
}

.ser_rslt span.flt_txt{
	float:right;
}

.right_panel{
	float:right;
	width:350px;
}

.rv_list{
	float:left;
	width:100%;
	margin-top:15px;
}

.rv_list h6{
	float:left;
	width:96%;
	background:#333;
	color:#fff;
	font-size:18px;
	text-align:left;
	padding:2%;
	margin:0;
}

.rv_list ul{
	float:left;
	width:100%;
}

.rv_list ul li{
    background:none;
    border-bottom:1px solid #DDDDDD;
    box-shadow:none;
    float:left;
    font-size:16px;
    padding:10px 0;
    width:100%;
}

.rv_list ul li:hover{
	box-shadow:none;
}

.rv_list ul li input{
	float:left;
}

.rv_list ul li span{
    color:#666666;
    float:left;
    margin-bottom:0;
    margin-left:6px;
    margin-top:-2px;
    width:auto;
}

.progress {
    float: left;
    margin: 8px 0;
    width: 100%;
}

.progress .bar {
    box-shadow: 2px 2px 3px #999999 inset;
}

.progress .bar {
    background:#DDDDDD;
    border-radius: 8px;
    float: left;
    padding: 2px;
    width: 100%;
}

.progress .bar .value {
    border-radius: 8px;
    height: 5px;
}

.progress .bluebar {
    background-color: #006699;
}

.progress .orangebar {
    background-color: #FF9900;
}

.progress .redbar {
    background-color: #CC0000;
}

.progress .pro_txt{
	float:left;
	width:100%;
	font-size:13px;
	color:#666;
}

.progress .pro_txt .lft{
	float:left;
}

.progress .pro_txt .rght{
	float:right;
}

.fltr_txt{
	float:left;
	width:100%;
}

.fltr_txt a {
    background:#96D055;
    border-radius:5px;
    color:#FFFFFF;
    display:block;
    padding:5px 0;
    text-align:center;
}

.fltr_txt a:hover{
	background:#333;
}

.cont_inner h3{
	float:left;
	width:100%;
	margin:0;
	font-size:24px;
	text-align:left;
	color:#666;
}

.lft_frm{
	float:left;
	width:490px;
	margin-top:20px;
}

.lft_frm input {
    border: 1px solid #DDDDDD;
    color: #454545;
    float: left;
    font-family: pts55f,Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 3px;
    text-align: left;
    width: 96%;
	margin-bottom:10px;
}

.lft_frm select {
    border: 1px solid #DDDDDD;
    color: #454545;
    float: left;
    font-family: pts55f,Arial,Helvetica,sans-serif;
    font-size:14px;
    padding:3px;
    text-align:left;
    width:97.5%;
	margin-bottom:10px;
}

.lft_frm textarea {
    border: 1px solid #DDDDDD;
    color: #454545;
    float: left;
    font-family: pts55f,Arial,Helvetica,sans-serif;
    font-size: 14px;
    padding: 3px;
    text-align: left;
	min-height:120px;
    width: 96%;
	margin-bottom:10px;
}

.lft_frm label {
	float:left;
	width:100%;
    color: #454545;
    font-size: 15px;
    text-align: left;
	margin-bottom:10px;
}

.rght_frm {
    float: right;
    margin-top: 90px;
}

.rp_frit1{
	float:left;
	width:100%;
}

.rght_frm .rp_frit1 input{
	width:85%;
}

.rght_frm .rp_frit1 span {
    color: #454545;
    float: left;
    font-size: 15px;
    margin-left: 8px;
}

.rv_minit1{
	float:left;
	width:40%;
}

.fltr2{
	float:right;
}

.subm_tbtn{
	float:left;
	width:100%;
}

.subm_tbtn input {
    background: #96D055;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: pts55f,Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 8px 52px;
    text-align: center;
}

.subm_tbtn input:hover{
    background:#333;
}

.cont_inner ul.inn4_it {
    float: none;
    margin: 0 auto;
    width: 50%;
}

.cont_inner h2 {
    color: #666666;
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.btf_in4{
	background:none !important;
}

.signup_frm{
	float:none;
	margin:0 auto;
}

.lft_frm label.sgnup_hd {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.subm_tbtn label {
    color: #454545;
    float: left;
    font-size: 15px;
	margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.subm_tbtn label a{
    color: #5e9521;
	text-decoration:none;
}

.subm_tbtn label a:hover{
    color: #454545;
}