<div id="level5">
  <table width="320" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
        <%= image_tag 'levelup/header5.jpg', width: '320', height: '41' %>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding="4" cellspacing="0" style="border-color:#0066FF; border-width:thin">
          <tr>
            <td bgcolor="#FFFFFF">
              <%= image_tag 'levelup/level5.jpg', width: '300', height: '90' %>
            </td>
          </tr>
          <tr>
            <td bgcolor="#CCCCCC">
              <p><strong>You have earned your Premium Member Badge!</strong></p>
              <p>By becoming a Premium Member you can now send unlimited messages to all the members with which you would like to start communicating with.</p>
              <p>Your username will also appear with the Premium Member badge so other members know you are serious about getting to know someone.</p>
              <p>Finally, as a Premium Member you have access to <%= link_to "Advanced Search", advanced_search_path %> features which allow you to search by any profile criteria you choose!</p>
              <p>We're glad to have you and wish you great success in finding your true love!</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
