<tr>
  <td colspan="2" align="center">
    <div align="left" class='pull-left'>
      <%= user.thumbnail %>
    </div>
    <p align="left">
    Create your FREE account now<br />
    and
    Start talking with
    </p>
    <p align="left">
    <strong><%= user.username %></strong>
    <br />
    <%= age(user.date_of_birth) %>
    </p>
  </td>
</tr>
<tr>
  <td colspan='2' align='center'>&nbsp;</td>
</tr>
<style type="text/css" media="screen">
  #i_100 {
    height: 100px;
    width: 100px;
  }
</style>
