.container-fluid
	.row.mailbox-page
		=render "layouts/nav-link-mailbox-secondary"
		.row.first-row
			.span12
				.page-header
					%p.page-title Deleted
				.row
					.span6
						= form_tag :messagebox_deleted, :method => :get, :name=>"search_form" do
							.input-append
								= text_field_tag :subject, params[:title], :placeholder => "What?", :value=> params[:subject].presence || ""
								%a{:class=>"m-btn blue", :style => "margin-top: 0px; padding: 8px 14px", :href =>"javascript:search_form.submit();"}
									%i{:class=>"icon-search"}
									Search
					.span6
						-if !params[:subject].present?					
							=will_paginate @mail_box, :param_name => 'page_num'
			.span12.mail-inbox
				%table.table.table-striped
					%colgroup
						%col/
						%col/
						%col/
					%tbody.txtTop
						= render partial: "messages", collection: @mail_box, as: :messages
				
:javascript 
		$('ul.nav-tabs li').eq(2).addClass('isCurrent');	
		$('div.nav-link ul li').eq(2).addClass('current-tab');	

		var showChar = 100;
		var ellipsestext = "...";
		var moretext = "more";
		var lesstext = "less";
		$('.more').each(function() {
			var content = $(this).html();

			if(content.length > showChar) {
				var c = content.substr(0, showChar);
				var h = content.substr(showChar-1, content.length - showChar);
				var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink" style="color:#0254EB;">' + moretext + '</a></span>';
				$(this).html(html);
			}
 
		});
 
		$(".morelink").click(function(){
			if($(this).hasClass("less")) {
					$(this).removeClass("less");
					$(this).html(moretext);
			} else {
					$(this).addClass("less");
					$(this).html(lesstext);
			}
			$(this).parent().prev().toggle();
			$(this).prev().toggle();
			return false;
		});