<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to HyeDating.com | The Premier Armenian Dating Site for Hye Singles</title>
<style type="text/css">
<!--
@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	background-attachment: fixed;
	background-color: #FFFFFF;
        background-image: url(<%= asset_path('main_bg.jpg') %>);
	background-repeat: no-repeat;
	background-position: center top;}
.header {
width:999px;
margin:auto;
clear:both;}
.main {
width:999px;
margin:auto;
clear:both;}
.footer-legal, .footer-legal a{
	font-size: 12px;
	color: #999999;}
.footer {
	width:999px;
	margin:auto;
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;}
#legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;}
h1 {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	display: inline;}
.login {
	margin:auto;
	width: auto;}
.login p {
text-align:center;}
form {
  margin: 0 auto;
  max-width: 400px; }
  form input[type=text], form input[type=password], form input[type=email] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 3px 3px 2px 0 #e2e2e2;
    -moz-box-shadow: inset 3px 3px 2px 0 #e2e2e2;
    box-shadow: inset 3px 3px 2px 0 #e2e2e2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c1c1c1;
    display: block;
    height: 30px;
    margin-bottom: 2px;
    padding: 1px 2px; }
    form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus {
      outline: none; }
  form fieldset.error input {
    background-color: #fff3dd;
    border-color: red; }
  form .footnote.recover {
    line-height: 44px; }
-->
</style>
</head>

<body>
  <div class="header"><a href="/"><img src="<%= asset_path("main_03.png") %>" alt="Hye Dating" width="331" height="70" border="0" align="left" /></a></div>
<div class="main">
  <hr />
  <h2>Whoops! &nbsp;We're Sorry!</h2>
  <p>Looks like something went wrong. &nbsp;Please <a href="/login">log back in</a> and try again.&nbsp;&nbsp;If the problem persists, please <a href="/contact">email us</a> and tell us what's causing this error to occur.</p>
  <p>Sincerely,<br />
  HyeDating Staff</p>
  <p>&nbsp;</p>
  <hr size="1" />
  <p>&nbsp;</p>
</div>
<div class="footer">
  <p align="center" class="footer-legal">&copy;2013 HyeDating.com. All Rights Reserved.</p>
</div>
</body>
</html>
