@charset "utf-8";
/* CSS Document */
.bodystyle {
  background-image: image-url('skyback.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
#leftsidebar {
  padding:0px;
  width:230px;
}
#main {
  border-left: thin solid #CCCCCC;
  border-top: thin solid #CCCCCC;
  border-right: thin solid #CCCCCC;
  padding:10px;
  margin-left: 1%;
  min-width:550px;
}
#rightsidebar {
  background-color:#FFFFFF;
  border-top: thin solid #CCCCCC;
  border-right: thin solid #CCCCCC;
  padding:10px;
  margin:0px;
  max-width:220px;
}
#container {
  padding:0px;
  margin:10px;
  min-width:768px;
}
ul {
  li {
    i {
      color: black;
    }
  }
}
ul.top-menu  {
  list-style-type: none;
  li {
    display: inline;
  }
}
tr.strong {
  font-weight: bold;
}

img#i_thumb {
  height: 64px;
  width: 64px;
}
img#i_medium {
  height: 225px;
  width: 225px;
}
img#i_100 {
  height: 100px !important;
  width: 100px !important;
}
textarea.message-body {
  width: 515px !important;
  height: 260px !important;
}
textarea#message-body {
  width: 515px !important;
  height: 260px !important;
}
ul.clean {
  list-style-type: none;
}
ul.left {
  list-style-type: none;
  margin-left: 0;
}
.footer-legal, .footer-legal a {
  font-size: 12px;
  color: #999999;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
