.row
  .span12.wrapper
    .row.main-row
      .span5.offset3.center-txt
        %h3 
          = t("order.complete.text1")
        %p.homepg-txt
          = t("order.complete.text2")
.row.empty-row
.row.empty-row
.row.empty-row
.row.empty-row
.row.empty-row
.row
  .span4.offset4.center-txt
    = link_to t("order.complete.btn_txt"), orders_path, :class => "btn gb-btn float-none"
.row.empty-row
.row.empty-row
.row.empty-row
.row.empty-row
.row.empty-row