<footer class="footer">
  <div class="container" style="position:relative;">
    <div><a href="#">
      <%= image_tag("landing-page/f-icon.png", :width => "37", :height => "37") %>
    </a>&nbsp;&nbsp;
      <a href="#">
        <%= image_tag("landing-page/t-icon.png", :width => "37", :height => "37") %>
      </a></div>
    <p>© Copyright 2011-2012 Hircle LLC, All rights reserved.</p>
        <ul class="footer-links">
      <li><a href="#">About Us</a></li>
      <li class="muted">&middot;</li>
      <li><a href="#">Terms of Agreement</a></li>
      <li class="muted">&middot;</li>
      <li><a href="#">Privacy Terms</a></li>
      <li class="muted">&middot;</li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</footer>
