<div id="banner">
  <div class="wrapper">
    <div class="banner_inner">
      <div class="bann_frm">
        <div class="bann_frm_inn">
          <form action="" method="post">
            <div class="frm_it">
              <input type="text" value="I want to pick up the RV" name="" onclick="if(this.value=='I want to pick up the RV')this.value='';" onblur="if(this.value=='')this.value='I want to pick up the RV';">
            </div>
            <div class="frm_it">
              <input type="text" value="I want the RV delivered and setup" name="" onclick="if(this.value=='I want the RV delivered and setup')this.value='';" onblur="if(this.value=='')this.value='I want the RV delivered and setup';">
            </div>
            <div class="frm_it">
              <input type="text" value="Location" name="" onclick="if(this.value=='Location')this.value='';" onblur="if(this.value=='')this.value='Location';">
            </div>
            <div class="frm_it">
              <input class="frtyp2" type="text" value="Check In" name="" onclick="if(this.value=='Check In')this.value='';" onblur="if(this.value=='')this.value='Check In';">
              <input class="frtyp2 frt_ex" type="text" value="Check Out" name="" onclick="if(this.value=='Check Out')this.value='';" onblur="if(this.value=='')this.value='Check Out';">
            </div>
            <div class="frm_it">
              <input type="text" value="Number of guests" name="" onclick="if(this.value=='Number of guests')this.value='';" onblur="if(this.value=='')this.value='Number of guests';">
            </div>
            <div class="frm_btn">
              <input name="" type="submit" value="Search" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>