<div id="bottom_footer">
  <div class="wrapper">
    <div class="btm_ftrinn">
      <div class="btm_ftrinn_mn">
        <h4>Revolutionizing the RV Rental Marketplace utilizing the Sharing Economy. Sign-ups are free.</h4>
        <ul>
          <li>
            <h6>Rent</h6>
            <p>Pick up you RV or have it delivered and set-up to the campsite of your choice.</p>
            <span><a href="#">See how to rent</a></span> </li>
          <li>
            <h6>Host</h6>
            <p>RV Owners-Utilize your most underutilized asset. We provide the tools necessary to rent your RV.</p>
            <span><a href="#">Become a Camp Host</a></span> </li>
          <li>
            <h6>Trust and Safety</h6>
            <p>From Verified ID to great customer support and trusted camp hosts we got all the bases covered.</p>
            <span><a href="#">Learn more about Campeez</a></span> </li>
        </ul>
      </div>
    </div>
  </div>
</div>