<div id="footer">
  <div class="ban_shd"></div>
  <div class="footer_inner">
    <div class="foot_inn1">
      <div class="foot_link1">
        <h5>Company</h5>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Join us</a></li>
          <li><a href="#">Insurance</a></li>
        </ul>
      </div>
      <div class="foot_link1 flinex">
        <h5>Learn</h5>
        <ul>
          <li><a href="#">Edit your profile</a></li>
          <li><a href="#">Add an RV</a></li>
          <li><a href="#">Rent an RV</a></li>
          <li><a href="#">Camp Host Program</a></li>
        </ul>
      </div>
      <div class="foot_link1 flinex">
        <h5>Social</h5>
        <ul class="ft_icon">
          <li><a href="#"><%= image_tag("ft_icon-1.png") %></a></li>
          <li><a href="#"><%= image_tag("ft_icon-2.png") %></a></li>
          <li><a href="#"><%= image_tag("ft_icon-3.png") %></a></li>
          <li><a href="#"><%= image_tag("ft_icon-4.png") %></a></li>
        </ul>
      </div>
      <div class="foot_link1 flinex">
        <h5>Help</h5>
        <ul>
          <li><a href="#">Rent your RV</a></li>
          <li><a href="#">Become a driver</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer_beneath">
  <div class="footben_inn">
    <div class="copmenr">
      <ul class="flmlef flmrigh">
        <li>Copyright &copy; 2014 Campeez.com. All Rights Reserved.</li>
      </ul>
    </div>
  </div>
</div>