<div id="header">
  <div class="wrapper">
    <div class="header_inner">
      <div class="logo"><a href="/"><%= image_tag("logo.png") %></a></div>
      <div class="menu">
        <ul>
          <li class="hwt_btn"><a href="#">How It Works</a></li>
          <li class="login_btn">
            <%= link_to "Login", new_session_path(resource_name) %>
          </li>
          <li class="signup_btn">
            <%= link_to "Sign Up", new_registration_path(resource_name) %>
          </li>
          <li class="rv_btn">
            <%= link_to "List Your RV", home_rv_list_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>